<nav>
    <div class="collapsed-navigation">
        <div class="collapsed-navigation__content">
            <div class="collapsed-navigation__close">
                <i class="bi bi-x-circle"></i>
            </div>
                <div class="collapsed-navigation__menu-items">
                {% for item in site.pages %}
                    {% if item.navigation %}
                        <a href="{{ item.url }}"
                           class="collapsed-navigation__item {% if item.url == site.current_page %}collapsed-navigation__item_active{% endif %}">{{ item.name }}</a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
    </div>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if site.current_user.logged_in %}
                        <a href="profile"><i class="bi bi-person-square"></i> {{ site.current_user.username }}</a>
                    {% else %}
                        <div>You are not signed in.</div>
                    {% endif %}
                </div>
                <div class="col text-end">
                    {% if site.current_user.logged_in %}
                        <a href="?action=logout"><i class="bi bi-door-open"></i> Logout?</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container navigation-wrapper">
        <div class="row">
            <div class="col-10 col-md-4">
                <div class="top-logo"></div>
            </div>
            <div class="col-2 col-md-8">
                <div class="navigation">
                    {% for item in site.pages %}
                        {% if item.navigation %}
                            <a href="{{ item.url }}"
                               class="navigation__item {% if item.url == site.current_page %}navigation__item_active{% endif %}">{{ item.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="navigation-wrapper__bars">
                    <i class="bi bi-list"></i>
                </div>
            </div>
        </div>
    </div>
</nav>